keras-gpu==2.2.4
keras-preprocessing==1.1.0
matplotlib==2.2.3
numpy==1.16.2
pandas==0.24.1
pillow==5.4.1
pydot==1.4.1
pytables==3.5.2
requests==2.20.1
scikit-learn==0.20.0
tensorflow==2.5.0
tornado==4.5.2
tqdm==4.32.1
-e git+https://github.com/jacaseyclyde/SciScript-Python.git#egg=SciServer